/* Estilos generales para el cuerpo del documento */
body {
    --bs-body-bg: #E6E6E6; /* Fondo personalizado utilizando variables CSS */
    font-family: Arial, sans-serif; /* Fuente del texto */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Toma toda la altura del viewport */
}

/* Contenedor principal de la aplicación de inicio de sesión */
#Login-App {
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%; /* Toma toda la altura disponible */
    width: 100%; /* Toma todo el ancho disponible */
}

/* Contenedor del primer contenido */
#Login-Contenido_1 {
    background-color: #0B1A46; /* Color de fondo */
    padding: 20px; /* Relleno interno */
    border-radius: 30px 0px 0px 30px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    width: 350px; /* Ancho fijo */
    height: 600px; /* Altura fija */
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

/* Estilos para la imagen dentro del primer contenido */
#Login-Contenido_1 img {
    width: 250px; /* Ancho de la imagen */
    height: 100px; /* Altura de la imagen */
}

/* Contenedor del segundo contenido */
#Login-Contenido_2 {
    background-color: #ffffff; /* Color de fondo */
    padding: 20px; /* Relleno interno */
    border-radius: 0px 30px 30px 0px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    width: 350px; /* Ancho fijo */
    height: 600px; /* Altura fija */
}

/* Estilos para el logo dentro del contenedor */
#Login-Logo {
    text-align: center; /* Alinea el texto al centro */
}

/* Estilos para el título dentro del contenedor */
#Login-Titulo {
    text-align: center; /* Alinea el texto al centro */
    padding: 50px 0px 40px 0px; /* Relleno superior e inferior */
    color: black; /* Color del texto */
}

/* Estilos para los campos de usuario y contraseña */
#Login-Usuario,
#Login-Contraseña {
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente */
    margin-bottom: 20px; /* Espacio entre los campos */
    font-size: 1.1em; /* Tamaño de fuente */
    align-items: center; /* Centra verticalmente */
}

/* Estilos para el icono dentro de los campos de usuario y contraseña */
#Login-Usuario i,
#Login-Contraseña i {
    padding-right: 10px; /* Espacio entre el icono y el texto */
}

/* Estilos para los campos de entrada de usuario y contraseña */
#Login-Usuario input,
#Login-Contraseña input {
    padding: 0px 5px; /* Relleno interno */
    box-sizing: border-box; /* Incluye el ancho del borde y el relleno en el ancho total */
}

/* Estilos para el botón de envío */
#Login-Boton-Envio {
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente */
    padding: 20px 0px 30px 0px; /* Relleno superior e inferior */
}

/* Estilos específicos para el botón de envío */
#Login-Boton-Envio-Estilo {
    --bs-btn-bg: #0B1A46; /* Color de fondo del botón */
    --bs-btn-border-color: #0B1A46; /* Color del borde del botón */
    --bs-btn-disabled-bg: #0B1A46; /* Color de fondo del botón cuando está desactivado */
    --bs-btn-disabled-border-color: #0B1A46; /* Color del borde del botón cuando está desactivado */
}

.error-message {
    color: red;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}